---
layout: default
title: Home
---

{% for post in site.posts %}
  {% if post.type == "project" %}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ post.url | absolute_url }}">
          {{ post.title }}
        </a>
      </h1>
      <img src="/assets/img/{{post.image}}">
      <span class="post-date">{{ post.date | date_to_string }}</span>
      <!-- {{ page.sections['intro'] | textilize }} -->
      {{ post.sections['intro'] | textilize }}
    </div>
  {% endif %}
{% endfor %}
